@at-root .Tooltips__Popup.Popup {
  font-family: var(--components-lib-font-family);
  font-size: var(--components-lib-font-family);
  background-color: hsla(220, 20%, 40%);
  color: hsl(0, 0%, 95%);
  padding: 0.5em 1em;
  border-radius: 5px;
}
